JENKINS_URL=http://jenkins:8080

CI_AGENT_NAME=agent-ci
CI_AGENT_SECRET=PASTE_CI_AGENT_SECRET

DOCKER_AGENT_NAME=agent-docker
DOCKER_AGENT_SECRET=PASTE_DOCKER_AGENT_SECRET

INFRA_AGENT_NAME=agent-infra
INFRA_AGENT_SECRET=PASTE_INFRA_AGENT_SECRET
